html, body {
    background-color: #f1faee;
}

h1{
    color: #e63946;
    font-family: 'Bebas Neue', cursive;
}

#questions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding: 0 4rem;
    height: 100vh;
}

#windows {
    font-size: 3rem;
    color:white;
    background-color:#a8dadc;
    padding: 2rem;
    border: 0.2rem solid #457b9d;
}

#yes, #no {
    background-color:white;
    padding: 1rem;
    border: 0.2rem solid #1d3557;
    font-size: 2rem;
}

a{
    text-decoration: none;
    color: #e63946;
}

.hidden {
    display: none;
}
